@font-face {
  font-family: "Typografix";
  src: url(/fonts/typografix/Typografix.ttf.woff);
}

@font-face {
  font-family: Lato;
  src: url(/public/fonts/Lato/Lato-Black.ttf);
}

$typografix: "typografix";
$lato: "Lato";
