//font sizes

$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font24: 24px;
$font28: 28px;
$font32: 32px;
$font36: 36px;
$font40: 40px;
$font48: 48px;
$font50: 50px;
$font56: 56px;
$font62: 62px;
$font64: 64px;

//line heights

$line-height24: 24px;
$line-height27: 27px;
$line-height29: 29px;
$line-height32: 32px;
$line-height36: 36px;
$line-height40: 40px;
$line-height46: 46px;
$line-height48: 48px;
$line-height56: 56px;
$line-height60: 60px;
$line-height72: 72px;
$line-height130: 130%;

// letter spacing
$letter-spacing02: 0.02em;

// border radius
$border-radius32: 32px;
