.dashboard {
  display: flex;
  height: 100vh;
  // max-height: 100%;
  &_left {
    flex: 1;
    background: #2081f9;
    position: relative;
    overflow: hidden;
  }
  &_right {
    flex: 4;
    padding: 10px;
    overflow: auto;
  }
}
