@import "./variable";
@import "./fontFamily.scss";

.deposit {
  font-family: Lato;
  &_card {
    h6 {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.depositActs {
  background: #f1f7ff;
  border: 1px solid #2081f9;
  box-sizing: border-box;
  height: 56px;
}

.items {
  border-right: 1px solid #2081f9;
}
