@import "./variable";
@import "./fontFamily.scss";

// @import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Jost:wght@200;300;400;500;600;700;800&family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@100;300;500;700;900&display=swap");

.nav-headline {
  font-family: $typografix;
}

.home {
  background: #f1f7ff;
  h1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    width: 552px;
    span {
      &:nth-child(1) {
        color: #000000;
      }
      &:nth-child(2) {
        color: #2081f9;
      }
      &:nth-child(3) {
        color: #000000;
      }
    }
  }
  p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 87%;
  }
  button {
    background: #f99820;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    border: none;
    white-space: nowrap;
    &:hover {
      transform: scale(1.2) !important;
      transition: all 0.5s ease-in-out;
    }
  }
}

.assets {
  h6 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    color: #000000;
    width: auto;
    text-align: end;
  }
  img {
    // transform: matrix(1, 0, 0, -1, 0, 0);
    padding: 10px;
  }
}

.assetHover {
  &:hover {
    transform: scale(1.2) !important;
    transition: all 0.5s ease-in-out;
  }
  &:hover:after {
    // transform: scale(1.2) !important;
    transition: all 0.5s ease-in-out;
  }
}

.aboutUs {
  background: #f1f7ff;
  &_content {
    h1 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      span {
        &:nth-child(1) {
          color: #2081f9;
        }
      }
    }
    p {
      font-family: "Lato";
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 40px;
      width: 70%;
      span {
        &:nth-child(2) {
          color: #2081f9;
        }
      }
    }
  }
  &_col2 {
    width: 48%;
    h1 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
      color: #000000;
    }
    h6 {
      font-family: "Lato";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 35px;
      text-align: justify;
    }
    button {
      background: #f99820;
      color: #ffffff;
      font-family: "Lato";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      border: none;
    }
  }
}

.services {
  background: #f1f7ff;
  h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #2081f9;
  }
  &_card {
    h5 {
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
    }
    p {
      text-align: justify;
      font-family: "Lato";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 40px;
      color: #000000;
    }
    button {
      background: #f99820;
      border: none;
      font-family: "Lato";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
    }
  }
  &_container {
    padding-bottom: 80px !important;
  }
}
.hoverEffect {
  &:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
  }
}

.footer {
  background: #2081f9;
  &_col1 {
    h1 {
      font-family: $typografix;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 46px;
      color: #ffffff;
    }
  }
  &_col2 {
    h5 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #e5e5f4;
    }
  }
  &_p {
    p {
      font-family: "Lato";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 35px;
      text-align: justify;
      color: #e5e5f4;
    }
  }
  &_h1 {
    h6 {
      font-family: "Lato";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #e5e5f4;
    }
  }
}

.catalogue {
  background: #f1f7ff;
  &_title {
    h1 {
      font-family: $lato;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
      color: #2081f9;
    }
  }
  &_row {
    h6 {
      font-family: $lato;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      color: #000000;

      cursor: pointer;
    }
  }
  &_filter {
    input {
      width: 400px;
      border-radius: 2px;
      outline: none;
      border: 1px solid #2081f9;
      box-sizing: border-box;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      &::placeholder {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
    }
  }
}

.tabs {
  text-decoration: none;
  position: relative;
}

.tabs::after {
  content: "";
  transition: all 0.2s ease-in;
  width: 100%;
  height: 3px;
  background-color: #2081f9;
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: scaleX(0);
  border-radius: 20px;
}

.tabs:hover::after {
  transition: all 0.2s ease-in;
  transform: scaleX(1);
}

/** CARD COMPONENT STYLES GOES HERE */
.cardBody {
  &_buttonSmall {
    button {
      height: 37px;
      background: #2081f9;
      border: none;
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
    }
  }
  &_title {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
  }
  &_details {
    h6 {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: #000000;
    }
    &-span1 {
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 40px;
      color: #2081f9;
    }
  }
  &_buttonBig {
    button {
      background: #f99820;
      height: 54px;
      border: none;
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
    }
  }
}

/** CREATE ACC STYLES */
.createAcc {
  background: linear-gradient(90deg, #ffffff 50%, #f1f7ff 50%);
  &_rightCol {
  }
  &_leftCol {
    // background: #f1f7ff;
    h2 {
      color: #2081f9;
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
    }
    p {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 29px;
      color: #000000;
    }
  }
  &_form {
    div {
      label {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        color: rgba(18, 18, 18, 0.6);
      }
      input {
        background: #ffffff;
        border: 1px solid #2081f9;
        box-sizing: border-box;
        width: 500px;
        box-shadow: none;
        outline: none;
      }
      button {
        background: #f99820;
        outline: none;
        border: none;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        width: 500px;
        &:hover {
          box-shadow: 0px 0px 15px 0px #f99820;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
  &_terms {
    input[type="checkbox"] {
      width: 5%;
    }
    p {
      width: 95%;
      font-size: 15px;
      line-height: 22px;
      span {
        &:nth-child(2) {
          color: #2081f9;
        }
      }
    }
  }
}

/** FAQ STYLES */
.FAQ {
  background: #f1f7ff;

  h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #2081f9;
  }
  &_container {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: auto;
    h5 {
      display: list-item;
      list-style-type: disc;
      list-style-position: inside;
      color: #2081f9;
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 35px;
      text-align: justify;
    }
    p {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
      color: #000000;
    }
  }
}

.realEstate_content {
  h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
  }
  h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
  }
  p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: justify;
  }
  h6 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
  }
}

/** MOBILE RESPONSIVENESS STYLES FOR SMALL SCREENS */
@media screen and (max-width: 600px) {
  .home {
    h1 {
      line-height: 29px;
      width: 100vw !important;
      font-size: 21px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      width: 80vw;
      margin-bottom: 20px;
    }
    button {
      margin-top: 20px;
      white-space: nowrap;
    }
  }
  .assets {
    h6 {
      font-size: 13px;
    }
    &_col {
      width: 40% !important;
    }
  }
  .assetRow {
    justify-content: center !important;
  }
  .aboutUs {
    background: #f1f7ff;
    &_content {
      h1 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 17px;
        margin-bottom: 25px !important;
        span {
          &:nth-child(1) {
            color: #2081f9;
          }
        }
      }
      p {
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        width: 80%;
        margin-bottom: 30px !important;
        span {
          &:nth-child(2) {
            color: #2081f9;
          }
        }
      }
    }
    &_col2 {
      // width: 48%;
      h1 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        text-align: end;
        margin-top: 35px !important;
        margin-right: -50px;
      }
      h6 {
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 35px;
        text-align: justify;
        margin-right: -50px;
        width: 90vw !important;
      }
      button {
        background: #f99820;
        color: #ffffff;
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        border: none;
        margin-right: -200px;
      }
    }
  }

  .createAcc {
    background: linear-gradient(180deg, #ffffff 30%, #f1f7ff 70%);
    &_rightCol {
    }
    &_leftCol {
      // background: #f1f7ff;
      h2 {
        color: #2081f9;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
      }
      p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 29px;
        color: #000000;
      }
    }
    &_form {
      div {
        label {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 20px;
          color: rgba(18, 18, 18, 0.6);
        }
        input {
          background: #ffffff;
          border: 1px solid #2081f9;
          box-sizing: border-box;
          width: 100%;
          box-shadow: none;
          outline: none;
        }
        button {
          background: #f99820;
          outline: none;
          border: none;
          font-family: Lato;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: #ffffff;
          width: 100%;
          &:hover {
            box-shadow: 0px 0px 15px 0px #f99820;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
    &_terms {
      input[type="checkbox"] {
        width: 5%;
      }
      p {
        width: 95%;
        font-size: 15px;
        line-height: 22px;
        span {
          &:nth-child(2) {
            color: #2081f9;
          }
        }
      }
    }
  }
}

/** MOBILE RESPONSIVENESS STYLES FOR MEDIUM SCREENS */
@media screen and (max-width: 768px) {
  .home {
    h1 {
      line-height: 29px;
      width: 100vw !important;
      font-size: 24px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      width: 80vw;
      margin-bottom: 20px;
    }
    button {
      margin-top: 20px;
      white-space: nowrap;
    }
  }
  .assets {
    h6 {
      font-size: 13px;
    }
  }
  .aboutUs {
    background: #f1f7ff;
    &_content {
      h1 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 17px;
        margin-bottom: 25px !important;
        span {
          &:nth-child(1) {
            color: #2081f9;
          }
        }
      }
      p {
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        width: 80%;
        margin-bottom: 30px !important;
        span {
          &:nth-child(2) {
            color: #2081f9;
          }
        }
      }
    }
    &_col2 {
      // width: 48%;
      h1 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        text-align: end;
        margin-top: 35px !important;
        margin-right: -50px;
      }
      h6 {
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 35px;
        text-align: justify;
        margin-right: -50px;
        width: 90vw !important;
      }
      button {
        background: #f99820;
        color: #ffffff;
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        border: none;
        margin-right: -200px;
      }
    }
  }
  .createAcc {
    background: linear-gradient(180deg, #ffffff 30%, #f1f7ff 70%);
    &_rightCol {
    }
    &_leftCol {
      // background: #f1f7ff;
      h2 {
        color: #2081f9;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
      }
      p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 29px;
        color: #000000;
      }
    }
    &_form {
      div {
        label {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 20px;
          color: rgba(18, 18, 18, 0.6);
        }
        input {
          background: #ffffff;
          border: 1px solid #2081f9;
          box-sizing: border-box;
          width: 100%;
          box-shadow: none;
          outline: none;
        }
        button {
          background: #f99820;
          outline: none;
          border: none;
          font-family: Lato;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: #ffffff;
          width: 100%;
          &:hover {
            box-shadow: 0px 0px 15px 0px #f99820;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
    &_terms {
      input[type="checkbox"] {
        width: 5%;
      }
      p {
        width: 95%;
        font-size: 15px;
        line-height: 22px;
        span {
          &:nth-child(2) {
            color: #2081f9;
          }
        }
      }
    }
  }
  .realEstate_content {
    // p {
    //   line-height: 17px;
    // }
    img {
      width: 100%;
    }
  }
  .img1 {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .home {
    h1 {
      line-height: 32px;
      width: 85% !important;
      font-size: 24px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      width: 88%;
      margin-bottom: 20px;
    }
    button {
      margin-top: 20px;
      white-space: nowrap;
    }
  }
  .createAcc {
    // background: linear-gradient(180deg, #ffffff 30%, #f1f7ff 70%);
    &_rightCol {
    }
    &_leftCol {
      // background: #f1f7ff;
      h2 {
        color: #2081f9;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
      }
      p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 29px;
        color: #000000;
      }
    }
    &_form {
      div {
        label {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 20px;
          color: rgba(18, 18, 18, 0.6);
        }
        input {
          background: #ffffff;
          border: 1px solid #2081f9;
          box-sizing: border-box;
          width: 100%;
          box-shadow: none;
          outline: none;
        }
        button {
          background: #f99820;
          outline: none;
          border: none;
          font-family: Lato;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: #ffffff;
          width: 100%;
          &:hover {
            box-shadow: 0px 0px 15px 0px #f99820;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
    &_terms {
      input[type="checkbox"] {
        width: 5%;
      }
      p {
        width: 95%;
        font-size: 15px;
        line-height: 22px;
        span {
          &:nth-child(2) {
            color: #2081f9;
          }
        }
      }
    }
  }
  .realEstate_content {
    p {
      line-height: 17px;
    }
  }
}
