@import "./variable";
@import "./fontFamily.scss";

@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Jost:wght@200;300;400;500;600;700;800&family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@100;300;500;700;900&display=swap");

.nav-headline {
  font-family: $typografix;
}

.home {
  background: #f1f7ff;
  h1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    width: 552px;
    span {
      &:nth-child(1) {
        color: #000000;
      }
      &:nth-child(2) {
        color: #2081f9;
      }
      &:nth-child(3) {
        color: #000000;
      }
    }
  }
  p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 87%;
  }
  button {
    background: #f99820;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    border: none;
    white-space: nowrap;
  }
}

.assets {
  h6 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    color: #000000;
    width: auto;
    text-align: end;
  }
  img {
    transform: matrix(1, 0, 0, -1, 0, 0);
    padding: 10px;
  }
}

/** MOBILE RESPONSIVENESS STYLES FOR SMALL SCREENS */
@media screen and (max-width: 600px) {
  .home {
    h1 {
      line-height: 29px;
      // width: 365px;
      width: 100%;
      font-size: 24px;
    }
    p {
      font-size: 15px;
    }
    button {
      white-space: nowrap;
      // margin-left: 100px !important;
    }
  }
}

/** MOBILE RESPONSIVENESS STYLES FOR MEDIUM SCREENS */
