.loan {
  padding: 20px;

  p {
    width: 80%;
    text-align: justify;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    span {
      &:nth-child(1) {
        color: #2081f9;
      }
    }
  }

  &_container {
    background: #f1f7ff;
  }

  &_select {
    height: 56px;
    box-shadow: none;
    outline: none;
  }
}

.loanCurrency {
  background: #f1f7ff;
  border: 1px solid #2081f9;
  box-sizing: border-box;
  height: 56px;
}
