@import "./variable";
@import "./fontFamily.scss";

.portfolio {
  flex: 4;
  padding: 0px 20px;
  &_top {
    cursor: pointer;
    h6 {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }
  }
}

.cashValue {
  h6 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #2081f9;
  }

  &_row {
    table {
      thead {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;

        tr {
          background: #f1f7ff;
          border-style: none;
        }
      }

      tbody {
        border-top: none !important;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000;

        tr {
          td {
            border-bottom-width: 0px;
          }
        }
      }
    }
  }
}

.assetPerform {
  &_card {
    border-radius: 20px;
    width: 400px;
    background: #2081f9;
    border-radius: 20px;

    h5 {
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
    }

    h6 {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
    }
  }

  &_card2 {
    width: 400px;

    h6 {
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      color: #000000;
    }
  }

  &_card3 {
    width: 250px;
    border-radius: 0px !important;
  }
}

.iconBox {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #75b1fb;
  background-image: url(../public/img/buffer.svg);
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 10px;
}

.iconBox1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #da73eb;
  background-image: url(../public/img/naira-big.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.iconBox2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(32, 129, 249, 0.62);
  background-image: url(../public/img/naira-big.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.iconBox3 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #da73eb;
  background-image: url(../public/img/naira.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.iconBox4 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #94f984;
  background-image: url(../public/img/arrow-up-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.iconBox5 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ff8e8e;
  background-image: url(../public/img/arrow-down-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.set {
  &_1 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: rgba(117, 177, 251, 0.53);
  }
}

.assetListContainer {
  background: #75b1fb;
  border-radius: 10px;

  &_p {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
  }

  &_span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
}

.assetList {
  li {
    &:nth-child(1) {
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: #000000;
    }
    &:nth-child(2) {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 15px;
      color: #000000;
    }
  }
}

.assetSummary {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #2081f9;
}

.assetStat {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #2081f9;
}

.c1 {
  width: 550px;
  border-radius: 0px !important;
}

.c2 {
  width: 250px;
  border-radius: 0px !important;
}

.assetStatList {
  li {
    &:nth-child(1) {
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;
      color: #000000;
    }

    &:nth-child(2) {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }
  }
}
