@import "./variable";
@import "./fontFamily.scss";

.profile {
  flex: 4;
  padding: 0px 20px;
  &_top {
    cursor: pointer;
    h6 {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }
  }

  &_personalInfo {
    font-family: Lato;
    &-names {
      cursor: pointer;
      label {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: $font18;
        line-height: 22px;
        color: rgba(18, 18, 18, 0.6);
      }

      p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
    }
  }
}

.profileNames {
  background: #f1f7ff;
  border: 1px solid #2081f9;
  box-sizing: border-box;
  height: 56px;
}

.profileId {
  background: #f1f7ff;
  border: 1px solid #2081f9;
  box-sizing: border-box;
  width: 490px;
  height: 56px;
}

@media screen and (max-width: 600px) {
  .profile {
    &_top {
      h6 {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
