.settings {
  flex: 4;
  padding: 0px 20px;

  &_top {
    cursor: pointer;
    h6 {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }
  }

  &_btn {
    background: #f99820;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
  }
}

.personalSettings {
}

.bankAccSettings {
}

.input {
  outline: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #c4c4c4;
}

.label {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: rgba(18, 18, 18, 0.6);
}

.checkbox {
  width: 60px !important;
  height: 30px !important;
  cursor: pointer;
  box-shadow: none !important;
  outline: none !important;
}
