@import "./variable";
@import "./fontFamily.scss";

.sidebar {
  padding: 20px;
  position: fixed;

  h3 {
    font-family: $typografix;
    font-style: normal;
    font-weight: normal;
    font-size: $font36;
    line-height: $line-height46;
    color: #ffffff;
  }

  &_top {
    ul {
      list-style-type: none;
      li {
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: $font20;
        line-height: $line-height29;
        color: #ffffff;
      }
    }
  }

  &_bottom {
    ul {
      list-style-type: none;
      li {
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: $font20;
        line-height: $line-height29;
        color: #ffffff;
      }
    }
  }
}
