.topbar {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  &_left {
    h4 {
    }
  }
  &_right {
    display: flex;
    flex-direction: column;
    align-items: end;
    h6 {
    }
    p {
    }
  }
}
